.projectsBlock {
    min-height: 40vh;
    background-color: #689f95;
}

.projectsContainer {
    align-items: center ;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #b7aeae;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}