.contactsBlock {
    height: 40vh;
    background-color: #749470;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}



.contacts {
    height: auto;
    border: 1px solid;
    width: 50%;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}
.title {
    background-color: #c9d4d4;
}
.button{
    background-color: darkgrey;
}