.project {
    min-width: 290px;
    max-width: 290px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    width: 200px;
    height: 200px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://st.depositphotos.com/1779253/4659/i/950/depositphotos_46591605-stock-photo-leader-hand-working-with-modern.jpg");
    background-size: cover;
    background-position: center ;
}

.title {
    background-color: #a27d7d;
    margin: 10px;
}

.watch_Button {
    background-color: #b78888;
    /*margin: 50px;*/
}

