.project {
    width: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 200px;
    height: 200px;
    background-color: darkgrey;

}

.title {
    background-color: #8f8282;
}
.watch {
    background-color: #8f8282;
    margin: 30px;
}

.margin{
   margin: 10px;
}