.skillsBlock {
    min-height: 40vh;
    background-color: #eae891;
}

.skillsContainer {
    align-items: center ;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    background-color: cadetblue;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}